<section class="subscribe-form">
    <h3 class="subscribe-form-title">Gratis nieuwsbrief van {{@site.title}}</h3>
    <p class="subscribe-form-description">Ontvang de nieuwste recepten direct in je inbox!</p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="jouwemail@adres.nl" autocomplete="true" />
            <button class="button primary" type="submit">
                <span class="button-content">Subscribe</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Dank je wel!</strong> Kijk in je mailbox voor de bevestigings mail.
        </div>
        <div class="message-error">
            Dit email-adres lijkt niet te kloppen! Probeer het opnieuw.
        </div>
    </form>
</section>